* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 243, 243);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headercontent {
    display: flex;
   
    align-items: center;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px -1px rgb(0, 0, 0);
}

.navleft {
    display: flex;
   
    align-items: center;
    height: 50px;
    width: auto;
    padding: 10px;
}

.navleft img {
    
    width: auto;
    height: 120px;
    object-fit: contain;
    
}
.leftnavcont{
    
    padding-left: 10px;
    font-weight: 500; 
    display: flex;
    gap: 1.8rem;
    margin-left: 10px;
    cursor: pointer;
}

.leftnavcont :hover{
    color: rgb(0, 153, 255);
    
}
.navright {
    margin-left: 730px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    white-space: nowrap;
    padding-right: 20px;
}

.navright li {
    text-decoration: none;
    
    justify-content: center;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.navright ul{
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

.rightnav li:hover {
    color: rgb(0, 153, 255);
}

.startbutn {
    padding: 10px 20px;
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px; 
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.globe{
    color: black;
}

.startbutn:hover {
    background-color: rgb(16, 142, 214);
    color: rgb(182, 168, 168);
}
.hero-section {
    
    max-width: 1400px;
    margin: 140px auto;
    padding: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.hero-content h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1;
    color: #1e1919;
    margin-bottom: 24px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #5c5856;
    margin-bottom: 40px;
    max-width: 500px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}
.btn-secondary {
    
    text-decoration: underline  black;
    text-decoration-thickness: 1px; 
    text-underline-offset: 5px;
    padding: 14px 28px;
    background-color: transparent;
    color: #1e1919;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary:hover {
    
    background-color: #1e1919;
    color: white;
}

.btn-large {
    
    height: 70px;
    border: none;
    width: 300px;
    border-radius: 15px;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(0, 162, 255);
    color: white;
}
.hero-media1 {
    width: 100%;
    height: 100%;
     
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
}

.hero-media video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* .hero-content {
    grid-column: 1; 
} */

